<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x"
>
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onCategoryChange($event)"></app-filters>
  </mat-drawer>

  <mat-drawer-content class="p-6">
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
      (sortChange)="onSortChange($event)"
    ></app-products-header>

    <mat-grid-list gutterSize="16" [cols]="columnsNum" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products$ | async">
        <app-product-box
          [product]="product"
          class="w-full"
          [fullWidthMode]="columnsNum === 1"
          (addToCart)="onAddToCart($event)"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
